@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.userbttn {
    color: white;
    background-color: $orange;
    border-radius: .5rem;
    
}
.userbttn:hover{

    background-color: orange;
    color: white;
}
.btn-lg {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 100px;
}

.dateText {
    font-size: 15px;
}